<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Info</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body class='bg-light'>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mars Facts</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Update Data</a></p>
    </div>

    <!-- Mars Data -->
    <div class="row" id="news">
      <div class="col-md-12">
        <h2 class="heading">Latest News From Mars</h2>
        <h4>{{mars.newsTitle}}</h4>
        <p>{{mars.newsTeaser}}</p>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-8'>
        <h2>Featured Image</h2>
        <img src={{mars.featImg}} width='700' height='auto'>
      </div>
      <div class='col-md'>
        <h2>Martian Weather</h2>
        <p>{{mars.marsTweet}}</p>
        <div>
          <h2>Fun Mars Facts</h2>
          {{ mars.marsFacts | safe }}
        </div>
      </div>
    </div>
    <br>
    <!--Hemisphere Pictures section-->
    <div class='row' id ='hemisphere title'>
      <div class = 'col-md-12'>
        <h2 class = 'text-center'>Martian Hemispheres</h2>
      </div>
    </div>
    <div class = 'row' id='hemisphere pics'>
      <div class = 'col-md-12'>
         {% for img in mars.marsHemisphereImgs %}
         <div class="card mx-auto" style="width: 50rem;">
            <img class="card-img-top" src={{img.img_url}} alt="Mars">
            <div class="card-body">
              <p class="card-text text-center">{{img.title}}</p>
            </div>
          </div>
          <br>
        {% endfor %}
      </div>
    </div>
  </div>
</body>

</html>

<!--<img src={{mars.marsHemisphereImgs[0].img_url}}>-->

